* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.logo i{
    background: linear-gradient(135deg, rgb(76, 173, 173), teal);   
    padding: 5px 13px;
    font-size: 1.2rem;
}

.feature-section{
    margin-bottom: 100px;
    padding-top: 5%;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, #e0f7f4 0%, #ffffff 50%, #eef2f3 100%);;
}

.feature-search{
    width: 50%;
}

.feature-search input{
    width: 100%;
    padding: 15px 25px;
    border-radius: 30px;
    border: 1px solid #eee;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    outline: none;
}

.feature-text{
    text-align: center;
}

.feature-text h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 10px;
}

.card{
    background: white;
    padding: 40px 5px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
    transition: transform 0.3s ease;
    cursor: pointer;
    border: gray;
    transition: 0.2s ease-out;
}

.card:hover{
    transform: translateY(-2%);
}

.card:hover .icon{
    transform: scale(1.3);
     transition: 0.2s ease-out; 
}

.symptom:hover {
    border: 1px solid rgb(171, 235, 235);
}

.mentalHealth:hover {
    border: 1px solid rgb(226, 162, 226);
}

.health:hover{
    border:1px solid rgb(172, 172, 218);
}

.firstAid:hover{
    border:1px solid rgb(219, 162, 162);
}

.card h3{
    font-size: 1.1rem;
    margin: 15px 0 8px;
    text-align: center;
}

.card p{
    font-size: 0.85rem;
    text-align: center;
}

.card .icon{
    width: 50px;
    height: 50px;
    border-bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2rem;
}